<ion-header>
  <ion-toolbar>
    <ion-title>Shop</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        <ion-text> {{ name }} </ion-text>
        <ion-text> {{ price | currency }} </ion-text>
      </p>

      <p>
        <ion-text> Envio </ion-text>
        <ion-text> $0 </ion-text>
      </p>

      <p>
        <ion-badge color="success" slot="start">Total</ion-badge>
        <ion-text> {{ price | currency }} </ion-text>
      </p>

      <ion-button
        color="tertiary"
        fill="outline"
        slot="center"
        (click)="presentAlert()"
      >
        Comprar
        <ion-icon slot="icon-only" slot="start" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
